html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
.container {
  min-height: 100vh;
  padding: 1.5rem 1rem;
}
* {
  -webkit-overflow-scrolling: touch;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100svh;
  font-family: 'Patrick Hand', cursive;
  overflow: hidden;
  background: linear-gradient(180deg, #3f004f, #c300ff);
}

/* PANTALLAS */
.pantalla {
  position: absolute;
  inset: 0;
  padding-top: 60px;
  padding-bottom: 120px; /* 🔥 espacio para botones */

  text-align: center;
  opacity: 0;
  transform: translateY(30px);
  pointer-events: none;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.pantalla.activa {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* TEXTO */
.titulo {
  font-size: 44px;
  margin-bottom: 20px;
  animation: flotar 4s ease-in-out infinite;
}

.texto {
  font-size: 26px;
  margin: 12px 0;
  animation: aparecer 1s ease forwards;
}

/* descoordinación leve */
.texto:nth-child(2) { animation-delay: 0.2s; }
.texto:nth-child(3) { animation-delay: 0.5s; }
.texto:nth-child(4) { animation-delay: 0.8s; }

/* BOTONERA */
.botonera {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;

  display: flex;
  justify-content: space-around;
  gap: 8px;

  background: rgb(162, 55, 255);
  backdrop-filter: blur(12px);

  z-index: 10;
}

/* BOTONES */
button {
  background: linear-gradient(135deg, #c02eff, #000000);
  border: none;
  border-radius: 18px;
  padding: 12px 16px;
  font-size: 18px;
  color: white;
  cursor: pointer;

  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

button:hover {
  transform: translateY(-4px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}

button:active {
  transform: scale(0.95);
}

/* ANIMACIONES */
@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes flotar {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
}
